.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 15px;
  list-style-type: none;
  padding: 8px;
  width: 275px;
}

.button {
  padding: 8px;
}

.userdata {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
