.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  border-radius: 2px;
  width: 350px;
  padding: 16px;
}

.input {
  padding: 10px;
  width: 325px;
}

.label {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 10px;
  padding: 8px 16px;
}

.error {
  color: red;
  font-size: small;
}
